<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.motors.model.BaseEntity"/>
        <mapping class="com.motors.model.account.User"/>
        <mapping class="com.motors.model.account.Authority"/>
        <mapping class="com.motors.model.account.Phone"/>
        <mapping class="com.motors.model.account.UserPicture"/>
        <mapping class="com.motors.model.auto.Car"/>
        <mapping class="com.motors.model.auto.CarBrand"/>
        <mapping class="com.motors.model.auto.CarPicture"/>
        <mapping class="com.motors.model.auto.CarModel"/>
        <mapping class="com.motors.model.auto.BodyType"/>
        <mapping class="com.motors.model.advertisement.Advt"/>
    </session-factory>
</hibernate-configuration>